function Main.main 3
//let
//expression
push constant 2
pop local 0
//do
//expression
push constant 5000
//expression
push constant 1
call Memory.poke 2
pop temp 0
//do
//expression
push constant 5001
//expression
push constant 1
call Memory.poke 2
pop temp 0
//while
label MainLabel0
//expression
push local 0
push constant 11
lt
not
if-goto MainLabel1
//let
//expression
//expression
push constant 5000
push local 0
add
push constant 2
sub
call Memory.peek 1
pop local 1
//let
//expression
//expression
push constant 5000
push local 0
add
push constant 1
sub
call Memory.peek 1
pop local 2
//do
//expression
push constant 5000
push local 0
add
//expression
push local 1
push local 2
add
call Memory.poke 2
pop temp 0
//let
//expression
push local 0
push constant 1
add
pop local 0
goto MainLabel0
label MainLabel1
//return
push constant 0
return
